name: Call REST API Daily

on:
  schedule:
    - cron:  '0 0 * * 1-5'
  push:
    branches: [ "main" ]

  workflow_dispatch:
jobs:
  call-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
        with: # Set the secret as an input
          super_secret1: ${{ secrets.TEST_SECRET }}
        env: # Or as an environment variable
          super_secret: ${{ secrets.ENV_SECRET }}
     
      - name: Call REST API
        run: |
          response=$(curl -X GET https://dummyjson.com/users \
            -H "Content-Type: application/json" \
            -d '{"key": "value"}')
          echo "API Response:"
          echo "$response hello test" 
          echo "$super_secret1  value of super_secret"
           echo "$super_secret  value of super_secret"
