name: Call REST API Daily

on:
  schedule:
    - cron:  '0 0 * * 1-5'
  push:
    branches: [ "main" ]

  workflow_dispatch:
jobs:
  call-api:
    runs-on: ubuntu-latest
    steps:
      - name: test secret
        with: # Set the secret as an input
          super_secret: ${{ secrets.SuperSecret }}
        env: # Or as an environment variable
          super_secret: ${{ secrets.SuperSecret }}
      - uses: actions/checkout@v3
      - name: Call REST API
        run: |
          response=$(curl -X GET https://dummyjson.com/users \
            -H "Content-Type: application/json" \
            -d '{"key": "value"}')
          echo "API Response:"
          echo "$response hello test" 
          echo $super_secret + " value of super_secret"
