name: fetch values

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    env:
      DEPLOY_ENVIRONMENT: production
    steps:
      - uses: actions/checkout@v3
      - name: Build the App
        run: |
          echo "Building the app..."
          echo "My secret token is: ${{ secrets.TEST_SECRET }}"
          echo "My secret ENV_SECRET is: ${{ secrets.ENV_SECRET }}"
          echo "My secret TEST_URL_PATH is: ${{ secrets.TEST_URL_PATH }}"
          echo "My env TEST_PATH is: ${{ secrets.TEST_PATH }}"
          echo "My environment or env TEST_PATH is: ${{ env.TEST_PATH }}"
          echo "Deploying to ${{ env.DEPLOY_ENVIRONMENT }} environment..."
          

# Use a secret for API token
#          curl -H "Authorization: Bearer ${{ secrets.TEST_SECRET }}" https://api.example.com
#      - name: Deploy to Production (Conditional)
#        if: ${{ secrets.DEPLOY_TO_PRODUCTION == 'true' }}
#        run: |
#          echo "Deploying to production..."
#          # Use a variable for a non-sensitive build number
#          echo "Build number: ${{ env.BUILD_NUMBER }}"